- model_class = Comment
.page-header
  h1= t '.title', :default => model_class.model_name.human(count: 2).titleize
  = search_form_for [:admin, @q], class: 'form-search' do |f|
    = f.text_field :user_last_name_cont, class: 'search-query', placeholder: 'поиск по фамилии участника'
    = f.text_field :commentable_of_Clinic_type_full_name_cont, class: 'search-query', placeholder: 'поиск по названию клиники'
    = f.text_field :commentable_of_Doctor_type_last_name_cont, class: 'search-query', placeholder: 'поиск по фамилии доктора'
    = f.button 'Найти', :class => 'btn search-query'
table#comitems.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:user_id)
      th= model_class.human_attribute_name(:message)
      th= model_class.human_attribute_name(:commentable)
      th= model_class.human_attribute_name(:rating)
      th= model_class.human_attribute_name(:published)
      th= t '.actions', :default => t("helpers.actions")
  tbody.page
    = render :partial => 'result'
= link_to t('.new', :default => t("helpers.links.new")), \
  new_admin_comment_path,                                \
  class: 'btn btn-primary'
nav.pagination style=("display: none;") 
  = paginate @comments, remote: true
