= simple_nested_form_for [:admin, @doctor], :html => {:class => 'form-horizontal'} do |f|
  = f.input :last_name
  = f.input :first_name
  = f.input :published
  = f.input :pediatric
  = f.input :gender, collection: Doctor::GENDER
  = f.input :description, as: :text
  = f.input :specialty
  = f.input :user_id, collection: User.all.map{|u| [u.full_name, u.id]}
  = f.input :rating
  = f.input :education
  = f.input :starting_work, as: :string, input_html: {class: 'datepicker', value: @doctor.high_school_finished}
  = f.input :high_school_name
  = f.input :high_school_finished, as: :string, input_html: {class: 'datepicker', value: @doctor.starting_work}
  = f.input :awards, as: :text
  = f.input :visit_home
  = f.input :price
  = f.input :advise_id, as: :hidden
  h4 Категории
  table.table.table-striped
    = f.fields_for :doctor_category_relations, wrapper: false
    tr
      td colspan="3" 
        = f.link_to_add "Добавить категорию", :doctor_category_relations
  h4 Адреса
  table.table.table-striped
    = f.fields_for :addresses, wrapper: false
    tr
      td colspan="3" 
        = f.link_to_add "Добавить адрес", :addresses
  h4 Фотографии
  table.table.table-striped
    = f.fields_for :photos, wrapper: false
    tr
      td colspan="3" 
        = f.link_to_add "Добавить фото", :photos
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), \
      admin_doctors_path, :class => 'btn'                          \
