<div class="page-header">
  <h3>Результаты поиска для: </h3>
<%= @query %> <%= @location %>
</div>

<div id="items">
  <div class="page">
    <%= render :partial => 'application/items' %>
  </div>
</div>
<nav class="pagination" style="display: none;">
<%= paginate @items, remote: true %>
</nav>
