<footer>
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <p>© 2013 · Украина</p>
      </div>
      <div class="span4">
        <ul>
          <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
          <div class="yashare-auto-init" data-yashareL10n="ru"
               data-yashareType="link" data-yashareText="поделиться"
               data-yashareQuickServices="facebook,vkontakte,twitter,gplus,odnoklassniki"
          data-yashareDescription='Советуем доктора!' >
          </div>
        </ul>
      </div>
      <div class="span4">
        <p class="pull-right"><a href="#">Вверх</a></p>
      </div>
    </div>
  </div>
</footer>