footer
  .container
    .row-fluid
      .span4
        p © 2013 · Украина
      .span4
        ul
        script charset="utf-8" src="//yandex.st/share/share.js" type="text/javascript" 
        .yashare-auto-init data-yasharedescription=("Советуем доктора!") data-yasharel10n="ru" data-yasharequickservices="facebook,vkontakte,twitter,gplus,odnoklassniki" data-yasharetext="поделиться" data-yasharetype="link" 
      .span4
        p.pull-right
          a href="#"  Вверх
